@charset "utf-8";
.main-contents-wrapper h2{
    margin: 200px 0 30px 0;
}

.main-Autoplay-Swiper {
  width: 100%;
  height: 720px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.main-Autoplay-Swiper .swiper-slide.bg01 {
background: url(../source/img/main-swiper-bg/swiper-slide-bg01.png);
}
.main-Autoplay-Swiper .swiper-slide.bg02 {
background: url(../source/img/main-swiper-bg/swiper-slide-bg02.png);
}
.main-Autoplay-Swiper .swiper-slide.bg03 {
background: url(../source/img/main-swiper-bg/swiper-slide-bg03.png);
}
.main-Autoplay-Swiper .swiper-slide.bg04 {
background: url(../source/img/main-swiper-bg/swiper-slide-bg04.png);
}
.main-Autoplay-Swiper .swiper-slide.bg05 {
background: url(../source/img/main-swiper-bg/swiper-slide-bg05.png);
}
.main-Autoplay-Swiper .swiper-slide.bg06 {
background: url(../source/img/main-swiper-bg/swiper-slide-bg06.png);
}
.main-Autoplay-Swiper .swiper-slide.bg07 {
background: url(../source/img/main-swiper-bg/swiper-slide-bg07.png);
}
.main-Autoplay-Swiper .swiper-slide.bg08 {
background: url(../source/img/main-swiper-bg/swiper-slide-bg08.png);
}
.main-Autoplay-Swiper .swiper-slide.bg01,
.main-Autoplay-Swiper .swiper-slide.bg02,
.main-Autoplay-Swiper .swiper-slide.bg03,
.main-Autoplay-Swiper .swiper-slide.bg04,
.main-Autoplay-Swiper .swiper-slide.bg05,
.main-Autoplay-Swiper .swiper-slide.bg06,
.main-Autoplay-Swiper .swiper-slide.bg07,
.main-Autoplay-Swiper .swiper-slide.bg08 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}


.main-Autoplay-Swiper .swiper-wrapper .swiper-slide {
    position: relative;
    overflow: hidden;
}
.swiper-slide-innerText {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(to top, rgb(0, 0, 0), transparent);
    transform: translateY(100%);
    transition: 0.5s ease-in-out;
}
/* slide안 글씨 */
.swiper-slide-innerText .slide-overlay-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 40px 600px 40px 40px;
    color: #fff;
    z-index: 5;

}
.swiper-slide-innerText .slide-overlay-text p {
    font-weight: 200;
}

.swiper-slide-innerText .slide-overlay-text .sildeText {
    display: flex;
    gap: 50px;
    align-items: center;
    font-size: 34px;
    margin-bottom: 20px;
}

.swiper-slide-innerText .slide-overlay-text .sildeText .inner-plus {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff8a;
    transition: all 0.5s;
}
.inner-plus:hover,
.inner-plus a:hover,
.inner-plus:hover .plus,
.inner-plus a:hover .plus{
    color: #d33a3d;
     text-shadow:
    0 0 3px #d33a3da4,
    0 0 3px #d33a3da4,
    0 0 3px #d33a3da4;
}

.inner-plus li a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: inherit;
}
.swiper-slide:hover .swiper-slide-innerText {
  transform: translateY(0);
}

/* 더보기 puls 아이콘 */
.plus {
  width: 25px;
  height: 25px;
  border: 1px solid #ffffff79;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

/* 가로줄 */
.plus::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15%;
  width: 70%;
  height: 1px;
  background-color: #ffffff79;
  transform: translateY(-50%);
}

/* 세로줄 */
.plus::after {
  content: "";
  position: absolute;
  top: 15%;
  left: 50%;
  width: 1px;
  height: 70%;
  background-color: #ffffff79;
  transform: translateX(-50%);
}
/* hover시 border, 선 색상 변경 */
.inner-plus:hover .plus,
.inner-plus a:hover .plus {
  border-color: #d33a3da4;
   text-shadow:
    0 0 3px #d33a3da4,
    0 0 3px #d33a3da4,
    0 0 3px #d33a3da4;
}

.inner-plus:hover .plus::before,
.inner-plus:hover .plus::after,
.inner-plus a:hover .plus::before,
.inner-plus a:hover .plus::after {
  background-color: #d33a3d;
   text-shadow:
    0 0 3px #d33a3d,
    0 0 3px #d33a3d,
    0 0 3px #d33a3d;
}


/* 스와이퍼 밑에 아이콘 */
.main-Autoplay-Swiper .swiper-pagination-bullet {
  background-color: #ffffff79;
  width: 30px;
  height: 3px;
  opacity: 1;
  margin: 0 8px;
  border-radius: 1px;
  transition: all 0.3s;
}

.main-Autoplay-Swiper .swiper-pagination-bullet-active {
  background-color: #d33a3d;
}

/* 네비게이션 */

.main-Autoplay-Swiper .swiper-button-prev,
.main-Autoplay-Swiper .swiper-button-next {
  color: #ffffff50;
  transition: all 0.3s;
  font-size: 30px;
}
.main-Autoplay-Swiper .swiper-button-prev:hover,
.main-Autoplay-Swiper .swiper-button-next:hover {
    color: #fff;

}